* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color:#FF900E1A;
}
/* Nav bar styles */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
    align-items: center;
}
.manu{
    display: flex;
    gap: 2vw;
}
.navigation-bar>h3{
    font-size: 2em;
}
/* .manu>li>a{
} */
/* Banner styles */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    font-size: 4em;
    text-align: center;
}
.banner>p{
    text-align: center;
}
.genarel-text{
    color: #727272;
    margin: 3% 0;
}
.btn{
    height: 7vh;
    width: 12vw;
    color: #ffffff;
    border: none;
    border-radius: 5%;
    background-color: #FF900E;
}
.banner>img{
    width: 80%;
    margin: 3% 0;
}
/* Second section styles */
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 3% 0;
}
.image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
}
.image>img{
    width: 100%;
}
.text-contener>h3{
    font-size: 2em;
}